	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/05/2018 13:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
font-style: normal;
margin-left: 20px;
}

.flaticon-squares:before { content: "\f100"; }
.flaticon-trolley:before { content: "\f101"; }
.flaticon-medal:before { content: "\f102"; }
.flaticon-happy:before { content: "\f103"; }
.flaticon-quality:before { content: "\f104"; }
.flaticon-butterfly-with-a-heart-on-frontal-wing-on-side-view:before { content: "\f105"; }
.flaticon-mosquito-1:before { content: "\f106"; }
.flaticon-mosquito-insect-side-view:before { content: "\f107"; }
.flaticon-insect:before { content: "\f108"; }
.flaticon-mosquito:before { content: "\f109"; }
.flaticon-mouse:before { content: "\f10a"; }
.flaticon-plant:before { content: "\f10b"; }
.flaticon-certification-award:before { content: "\f10c"; }
.flaticon-time-left:before { content: "\f10d"; }
.flaticon-bug:before { content: "\f10e"; }
.flaticon-cart:before { content: "\f10f"; }
.flaticon-magnifier:before { content: "\f110"; }