/*depositContainer*/
.depositContainer {
	width: 100%;
	background: url(images/ctn-bg.html) transparent no-repeat center;
	background-size: cover;
	overflow: hidden;
	padding: 50px 0;
}
.depositInner {
	width: 1100px;
	margin: 0 auto;
}
.depositInner h3 {
	font-size: 18px;
	color: #000000;
	margin: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdc901+0,f8b017+50,f29430+100 */
	background: #fdc901; /* Old browsers */
	background: #73ae20; /* FF3.6-15 */
	background: #73ae20; /* Chrome10-25,Safari5.1-6 */
	background: #73ae20; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc901', endColorstr='#f29430', GradientType=0 ); /* IE6-9 */
	font-weight: 600;
	text-align: left;
	padding: 20px 30px;
}
.depositInner h3 img {
	float: right;
	margin-top: -5px;
}
.depositLeft {
	width: 48%;
	float: left;
	overflow: hidden;
	border-radius: 30px;
}
.depositRight {
	width: 48%;
	float: right;
	overflow: hidden;
	border-radius: 30px;
}
.ctn-diposit-part1 {
	width: 100%;
	float: left;
	background: #000000;
	border: 3px solid #73ae20;
	border-top: 0;
	padding: 10px 50px 30px;
	border-radius: 0 0 30px 30px;
}
.ctn-diposit-part1 p {
	font-size: 14px;
	color: #fff;
	margin: 0;
	font-weight: 300;
	padding: 7px;
	border-bottom: 1px dotted #fcc207;
}
.ctn-diposit-part1 p span {
	float: right;
}
.ctn-diposit-part1 p img {
	float: right;
	margin-left: 100px;
}
.ctn-diposit-part1 p:last-child {
	border-bottom: 0;
}
.ctn-diposit-part2 {
	width: 40%;
	float: left;
	text-align: center;
	padding: 123px 0;
}
table {
	width: 100%;
	margin-bottom:5px;
}
table td, table th {
	padding: 8px;
}

/*primebitContainer*/
.primebitContainer {
	width: 100%;
	padding: 55px 0 30px;
	background: url(images/bg1.html) transparent no-repeat center top;
	background-size: cover;
	overflow: hidden;
}
.primebitInner {
	width: 1170px;
	margin: 0 auto;
}
.primebitInner h1 {
	font-size: 36px;
	color: #fff;
	margin: 0;
	text-align: center;
	font-weight: 400;
	line-height: 50px;
	margin-bottom: 50px;
}
.primebitInner h1 span {
	font-weight: 700;
	color: #fbbf0a;
}
.ctn-level {
	width: 65%;
	margin: 0 auto;
}
.livel-part {
	width: 20%;
	float: left;
	background: url(images/call-ic1.html) transparent no-repeat center;
	overflow: hidden;
	padding: 50px;
}
.livel-img {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 160px;
}
.livel-part h3 {
	font-size: 60px;
	color: #fff;
	margin: 0;
	font-weight: 300;
	line-height: 28px;
}
.livel-part h3 span {
	font-size: 36px;
}
.livel-part p {
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
.text-level {
	width: 100%;
	padding-top: 40px;
	overflow: hidden;
}
.text-level p {
	margin: 0;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
	text-align: justify;
	line-height: 24px;
	margin-bottom: 20px;
}